.input-error {
    border: 1px solid red !important;
}
.fade-out {
    transition: opacity 2s ease;
    opacity: 0;
}
p.error_msj {
    background: #afaaaa;
    border-left: 5px solid #dc3545;
    color: #dc3545;
    padding: 9px;
}
